<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configuração da conexão com o banco MySQL e dialeto -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/bedriver</property>

		<!-- <property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
			<property name="connection.url">jdbc:mysql://localhost/financeiro</property> 
			<property name="connection.username">root</property> <property name="connection.password">123</property> -->

		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Configurações de debug -->
		<!-- <property name="show_sql">true</property> <property name="format_sql">true</property> 
			<property name="generate_statistics">true</property> <property name="use_sql_comments">true</property> -->
		<!-- Mapeando classes -->



		<mapping class="br.com.bedriver.model.CategoriaCnh" />
		
		<mapping class="br.com.bedriver.model.Cidade" />
		<mapping class="br.com.bedriver.model.CondutoresHab" />
		<mapping class="br.com.bedriver.model.Estado" />
		<mapping class="br.com.bedriver.model.FrotaVeiculo" />
		<mapping class="br.com.bedriver.model.Infracoe" />
		<mapping class="br.com.bedriver.model.Regiao" />
		<mapping class="br.com.bedriver.model.Simulado" />
		<mapping class="br.com.bedriver.model.Pergunta" />
		<mapping class="br.com.bedriver.model.CategoriaPergunta" /> 
		<mapping class="br.com.bedriver.model.UsuarioSimulado" />
		<mapping class="br.com.bedriver.model.Usuario" /> 
		<mapping class="br.com.bedriver.client.Historico" /> 
	</session-factory>
</hibernate-configuration>