.form-buttons {
	width: 620px !important;
	display: block !important;
	margin-top: 5rem !important;
	margin-left: 13rem !important;
	align-items: center !important;
}

.buttons {
	width: 30% !important;
    height: 5.6rem !important;
    float: left !important;
    background: #04D361 !important;
    color: #FFFFFF !important;
    border: 0 !important;
    border-radius: 0.8rem !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
    transition: background-color 0.2s !important;
    margin-top: 2.2rem !important;
    margin-left: 3.4rem !important;
    margin-bottom: 3.4rem !important;
 
}

.ui-button-text {
	font-size: 2.3rem !important;
}

