* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
	font-family: Roboto !important;
	font-size: 1rem;
}

.ui-datatable-odd {
	background: #F0F0F7 !important ;
}

.ui-datatable-even {
	background: #D2C6EB !important ;
}

.ui-datatable tbody td, th {
	border-color: #000000 !important;
}

.columnList {
	text-align: center !important;
	height: 3.18rem !important;
	width:10rem;
	line-height: 2.6rem;
}
th.uf,tf.uf , th.sexo, td.sexo{
	width:5rem !important;
	text-align: center;
}
.ui-datatable thead th {
	background-color: #FFFFFF !important;
}

.ui-datatable-selectable {
	height: 4.5rem;
}
.tab-item{
	border:0;
	height:3rem;
	width:10rem;
	background: var(--color-primary-dark);
	color:var(--color-button-background);
	box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
	border-bottom-left-radius: 0rem !important;
	border-bottom-right-radius: 0rem !important;
}

.tab-item:nth-last-child(1){
	
	background: #D2C6EB;
	
}
.ui-paginator-bottom{
	height:3.5rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
@media ( min-width : 700px) {
	.columnList {
	
	width:5rem;
	
}
}
@media ( min-width : 1100px) {
	* {	
	font-size: 2.2rem;	
}
	.columnList {
		text-align: center;
		height: 3.18rem !important;
		line-height: 2.6rem;
	}
	.ui-datatable thead th {
		background-color: #FFFFFF !important;
	}
	.ui-datatable-selectable {
		height: 4.5rem;
	}
	.tab-item{
	width:25rem;
	height:4.5rem;}
}